
body {
    color: white;
}

.wrapper {
    background-image: url();
    background-repeat: no-repeat;
    margin: auto;
    max-width: 1200px;
    width: 100%;
    height: 675px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;    
}

.box1 {
    position: relative;
    top: 100px;
}

.box2 {
    position: relative;
    display: inline-block;
    height: 100px;
    left: 200px;
    top: 200px;
}

.box3 {
    position: relative;
    left: 0px;
    top: 500px;
}

#herohealth {
    color: black;
}

#enemyhealth {
    color: black;
}

.color1 {
    background-color: green;
}

.p1 {
    float: left;
    height: 100px;
    width: 100px;
    background-color: darkblue;
}

.p2 {
    float: left;
    height: 100px;
    width: 100px;
    background-color: blue;
}

.p3 {
    float: left;
    height: 100px;
    width: 100px;
    background-color: lightblue;
}

.p4 {
    float: left;
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}

.enemybox {

    background-color: red;
}